/node_modules
/public/hot
/public/storage
/resources/lte/assets
/storage/*.key
/vendor
.env
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/idea
/resources/views/themes/lte
